*{
  margin: 0;
  padding: 0;

}
img{
  width:300px;
  display: block;
  margin: auto;
  margin-top: 20px;
  transition: transform 2s;
  border: 5px;
  box-shadow: 5px;
}
.one:hover{
  transform: scale(1.5,2);
}
.two:hover{
  transform: scaleX(1.5);
}
.three:hover{
  transform: scaleY(1.5);
}
