.container{
  border: 5px solid #FFFF00;
text-align: center;
padding: 70px;
border-radius: 5px;

}
body,html{
height: 100%;
}
html{

  display: table;
 margin: auto;
}
body{
  background-color: blue;
  display: table-cell;
   vertical-align: middle;
}
