.container{
  border: 5px solid #FFFF00;
text-align: center;
padding: 70px;
border-radius: 5px;

}
body,html{
height: 100%;
}
h1{
  text-align: center;
  color: whilte;
}
html{

  display: table;
 margin: auto;
}
h3{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;

}
body{
  background-color: blue;
  display: table-cell;
   vertical-align: middle;
}
