.container{
  border: 5px solid #FFFF00;
text-align: center;
padding: 70px;
border-radius: 5px;

}
body,html{
height: 100%;
}
h1{
  text-align: center;
  color: white;
}
html{

  display: table;
 margin: auto;
}
h3{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;

}
body{
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: table-cell;
   vertical-align: middle;
}
