*{
  margin: 0;
  padding: 0;

}
img{
  width:300px;
  display: flex;
  margin: auto;
  margin-left: 80px;
  margin-top: 130px;
  transition: transform 2s;
  border-radius: 5px;
}
.one:hover{
  transform: skewX(30deg);
}


body,html{
height: 100%;
}
html{

  display: flex;
 margin: auto;
}
body{
  display: flex;
  align-items: center;
  margin: auto;
   vertical-align: middle;
}
