
button{
  height: 90px;
  width: 290px;
  color: white;
  border: 290px;
  background-color: blue;
  transition-property: background-color;
  transition: 1s;
transition: :background-color 3s ease-in-out 1s;

}
button:hover{
  background-color: green;
  color: black;
  width: 500px;
}
