
button{
  height: 90px;
  width: 290px;
  color: white;
  border: 290px;
  background-color: blue;
  transition-property: background-color;
  transition: 1s;
//transition: :background-color 3s ease-in-out 1s,
//color 2s ease 4s border-radius 4s ease-out 6s;
// transition: all 3s ease-in 2s;
}
button:hover{
  background-color: green;
  color: black;
  border-radius: 25px 0 25px 0;
}
body,html{
height: 100%;
}
html{

  display: table;
 margin: auto;
}
body{
  display: table-cell;
   vertical-align: middle;
}
