
button{
  height: 90px;
  width: 290px;
  color: white;
  border: 290px;
margin:auto;
  align-items: center;
  justify-content: center;
  background-color: blue;
  transition-property: background-color;
  transition: 1s;
  transition-delay: 2s;

}
button:hover{
  background-color: green;
}
